@using laptopDeals.Models;
@{
    ViewBag.Title = "Laptops";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<center>
<table id="tbl" border="1" style="color:white">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Details</th>
        <th>Update </th>
        <th>Delete</th>
    </tr>


    @foreach (var m in Model)
    {
        <tr>
            <td>@m.name</td>
            <td>@m.price</td>
            <td>@m.description</td>

            <td><a href="/Product/EditProducts/@m.pid">Update</a></td>
            <td><a href="/Product/Delete/@m.pid">delete</a></td>
        </tr>

    }

</table>
    </center>


