@using laptopDeals.Models;
@{
    ViewBag.Title = "EditProducts";
    
}
<body>
    <form id="editForm" role="form" method="post" action="/Product/Save/?@Model.pid">
        <div class="form-group">
            <label for="pid">Product id:</label>
            <input type="text" class="form-control" name="pid" readonly="readonly" value="@Model.pid">
        </div>
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" class="form-control" name="name" value="@Model.name">
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" name="price" value="@Model.price">
        </div>


        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" name="description" value="@Model.description">
        </div>

        <input type="submit" class="btn btn-default" value="Update" />
    </form>
    </div>


    <style>
        #editForm {
            margin-top: 70px;
            margin-left: 150px;
            margin-bottom: 150px;
        }

            #editForm input {
                width: 350px;
                margin-top: 10px;
                margin-left: 15px;
            }

            #editForm label {
                font-size: 16px;
                margin-top: 20px;
            }

            #editForm .btn-default {
                width: 120px;
                margin-top: 30px;
            }
    </style>

</body>