@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
<!DOCTYPE html>

<html>
<head style=" color: wheat">
    
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body style="background-image:url('/images/bg.jpg')" >
    <div style=" color:wheat ; font: 200; font-family:Algerian; align-content:center; width:100%; height:auto; margin-top:7%">
        <center><h1>ABout &nbsp; Us</h1></center>
    </div>
    <center>
        <div style="color: wheat; margin-top:10%; font:200 ;font-family:Arial">
            <p>
                Our website provide facility to make online order for purchasing the laptops.
            </p>
            <p>
                Our contact is 111-222-333-45
            </p>
            <h2>
                The user can do following
            </h2>
            <p>
               Sign up to make account
            </p>
            <p>
               login to view the catagories of products
            </p>
             <p>    
                can make order to buy laptop
            </p>
            <p>
                 can delete his/her account
           </p>
            
               
            
</div>
    </center>
</body>
</html>
