<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apple</title>
</head>
<body style="background-image:url('/images/bg.jpg')">
    <div style=" color:wheat ; font: 200; font-family:Algerian; align-content:center; width:100%; height:5%; margin-top:7%">
        <center><h1>ABout &nbsp; Apple's&nbsp;Company</h1></center>
    </div>
    <center>
        <div style="color: wheat; margin-top:5%; font:200 ;font-family:Arial">

            <h4>
                Apple Inc. is an American multinational technology company headquartered in Cupertino,
            </h4>

            <h4>
                California, that designs, develops, and sells consumer electronics, computer software,
            </h4>

            <h4>
                and online services.
            </h4>

        </div>
    </center>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:5%">
        <img src="~/images/apple.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> apple_M0011_350$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/apple2.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white"  href="/Home/login"> apple_M0012_380$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:7%">
        <img src="~/images/apple4.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> apple_M0014_380$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/apple5.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> apple_M0016_400$</a>

    </div>

</body>
</html>
