@{
    ViewBag.Title = "BuyNow";
    Layout = "/Views/Shared/_LayoutPage2.cshtml";
}

<body style="background-image:url('/images/bg.jpg')">
    <center>
        <h2 style="color:white">Congratulations You Ordered Successfully!!!!!!!!!!</h2>
        <h2 style="color:white">You Order Will be delivered at your door step within a week</h2>
        <h2 style="color:white">Keep Shopping from laptopDeals:)</h2>
    </center>
</body>