
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dell</title>
</head>
<body style="background-image:url('/images/bg.jpg')">
    <div style=" color:wheat ; font: 200; font-family:Algerian; align-content:center; width:100%; height:5%; margin-top:7%">
        <center><h1>ABout &nbsp; Dell&nbsp;Company</h1></center>
    </div>
    <center>
        <div style="color: wheat; margin-top:5%; font:200 ;font-family:Arial">

            <h4>
                Dell Inc. is an American privately owned multinational computer technology company based in Round Rock,
            </h4>

            <h4>
                Texas, United States, that develops, sells, repairs, and supports computers 
            </h4>

            <h4>
                and related products and services.

            </h4>

        </div>
    </center>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:5%">
        <img src="~/images/dell2.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> dell_M00111_310$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/dell4.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> dell_M00112_330$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:7%">
        <img src="~/images/dell5.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> dell_M00114_360$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/dell8.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> dell_M00116_380$</a>

    </div>


</body>
</html>
