
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HP</title>
</head>

<body style="background-image:url('/images/bg.jpg')">
    <div style=" color:wheat ; font: 200; font-family:Algerian; align-content:center; width:100%; height:5%; margin-top:7%">
        <center><h1>ABout &nbsp; HP&nbsp;Company</h1></center>
    </div>
    <center>
        <div style="color: wheat; margin-top:5%; font:200 ;font-family:Arial">

            <h4>
                The Hewlett-Packard Company (commonly referred to as HP) was an American global information technology company headquartered in Palo Alto,
                 California. 

            </h4>

            <h4>
                It developed and provided a wide variety of hardware components as well as software and related services to consumers, small- and medium-sized businesses (SMBs) 

            </h4>

            <h4>
                and large enterprises, including customers in the government, health and education sectors.
            </h4>

        </div>
    </center>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:5%">
        <img src="~/images/h2.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> hp_M0011_300$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/h4.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> hp_M0012_340$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:7%">
        <img src="~/images/hp3.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> hp_M0014_360$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/hp5.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> hp_M0016_380$</a>

    </div>



</body>
</html>
