
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sony</title>
</head>
<body style="background-image:url('/images/bg.jpg')">
    <div style=" color:wheat ; font: 200; font-family:Algerian; align-content:center; width:100%; height:5%; margin-top:7%">
        <center><h1>ABout &nbsp; Sony&nbsp;Company</h1></center>
    </div>
    <center>
        <div style="color: wheat; margin-top:5%; font:200 ;font-family:Arial">

            <h4>
                Sony Corporation (ソニー株式会社 Sonī Kabushiki Gaisha?), commonly referred to as Sony .
                
                
                 
                 

            </h4>

            <h4>
                ˈsoʊni is a Japanese multinational conglomerate corporation headquartered in Kōnan Minato, Tokyo, Japan.
            </h4>

            <h4>
                The company is one of the leading manufacturers of electronic products for the consumer and professional markets.
            </h4>
            <h4>
                Sony is ranked 116th on the 2015 list of Fortune Global 500.
            </h4>

        </div>
    </center>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:5%">
        <img src="~/images/sony.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> sony_M001101_340$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/sony2.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> sony_M001202_350$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:7%">
        <img src="~/images/sony3.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> sony_M001403_360$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/sony4.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> sony_M001606_390$</a>

    </div>


</body>
</html>
