

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toshiba</title>
</head>
</head>
<body style="background-image:url('/images/bg.jpg')">
    <div style=" color:wheat ; font: 200; font-family:Algerian; align-content:center; width:100%; height:5%; margin-top:7%">
        <center><h1>ABout &nbsp; Toshiba&nbsp;Company</h1></center>
    </div>
    <center>
        <div style="color: wheat; margin-top:5%; font:200 ;font-family:Arial">

            <h4>
                Toshiba Corporation (株式会社東芝 Kabushiki-gaisha Tōshiba?, English /tɵˈʃiːbə/) (commonly referred to as Toshiba, stylized as TOSHIBA)


            </h4>

            <h4>
               It is a Japanese multinational conglomerate corporation headquartered in Tokyo, Japan. 

            </h4>

            <h4>
                Its diversified products and services include information technology and communications equipment and
                
            </h4>
            <h4>
                 sysytem,  electronic components and materials ,consumer electronics, household appliances, medical equipment,
            </h4>
            <h4>
                 office equipment, lighting and logistics.
            </h4>

        </div>
    </center>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:5%">
        <img src="~/images/tosheba.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> toshiba_M001101_320$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/toshiba2.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> toshiba_M001102_330$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:30%;margin-top:7%">
        <img src="~/images/toshiba3.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> toshiba_M001103_350$</a>

    </div>
    <div style="width:200px; height:200px; margin-left:60%;margin-top:-14.5%">
        <img src="~/images/toshiba4.jpg" style=" width:100%; height:100%" />
        <a style="background-color:black; color:white" href="/Home/login"> toshiba_M001104_360$</a>

    </div>


</body>
</html>
